<%- include('partials/header'); -%>
    </head>
    
    <body>
        
        <h1>Adding a New Product</h1>
        
        <form action="/addProduct" method="GET"> <!-- used to send info to server, everytime used the page is refreshed -->
        Keyword: <input type="text" name="keyword"> <br>
        <button id="searchBtn"> Search! </button>
        </form> <br>
        <form method="POST">
            Product Name: <input type="text" name="name" value="<%=parsedData['name'] %>"> <br>
            Pokedex Number: <input type="number" name="pokemonID" value="<%=parsedData['id'] %>"> <br>
            Type 1: <input type="text" name="type1" value = "<%=parsedData['types'][0]['type']['name'] %>"> <br>
            <% if(Object.keys(parsedData['types']).length > 1){ %>
              Type 2: <input type="text" name="type2" value = "<%=parsedData['types'][1]['type']['name'] %>"> <br>
            <% } else{ %>  
              Type 2: <input type="text" name="type2" value = ""> <br>
            <% } %>
            Height: <input type="number" name="height" value = "<%=parsedData['height'] %>"> <br>
            Weight: <input type="number" name="weight" value = "<%=parsedData['weight'] %>"> <br>
            Quantity: <input type="number" name="quantity" value=""> <br> <!-- int -->
            Price in $: <input type="number" name="price" value=""> <br> <!-- double -->
            Image of Store URL: <input type="text" name="imageURL" value="<%=parsedData['sprites']['front_default'] %>"> <br> 
            <br>
            
            <br>
            <button> Add Product! </button>
            <%= typeof(message) != "undefined"?message:"" %>
        </form>
        <br>
        <form action="/admin">
            <button> Back to Admin Panel </button>
        </form>
    </body>
<%- include('partials/footer'); -%>