<%- include('partials/header') %>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/searchProduct">Back</a>
                    <a class="navbar-brand" href="/logout">Logout</a>
                </div>
            </div>
    </nav>
    <div class="container">
        
        <header class="jumbotron">
            <div class="container">
                <h1><%= record.username %></h1>
                <p>Extra Details!</p>
            </div>
        </header>
        
        <body>
            
            <img src = <%= record.imageURL %> width = 300px height = 250px> <br>
            <i>Official Name: <%= record.name %></i> <br>
            Number: <%=record.pokemonID%><br>
            Height: <%=record.height%><br>
            Weight: <%=record.weight%><br>
            Quantity Available: <%=record.quantity%><br>
            Types: <%=record.type1%><br>
            Price: $<%=record.price%><br>
            <button id="<%= record._id %>" class="add"> Add to cart </button>
            <br><br>
        
        <br>
        <form action="/searchProduct">
        <button> Back to search </button>
        </form>
        <br>
        


         
        </body>
    
    </div>
    
<%- include('partials/footer'); %>  