<%- include('partials/header'); -%>
<script>
    
    $(document).ready(function() {
        $(".add").on("click", function(){
            $.ajax({
                method: "POST",
                url: "/addToCart",
                dataType: "json",
                data: { "pokemonName":this.id, "quantityChosen":document.getElementById("quantityChosen" + this.id).value},
                success: function(result,status) {
                    alert(result["message"]);
                }
            });//ajax
        }); //click
    }); //document.ready
</script>
</head>
    <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/searchProduct">Back</a>
                    <a class="navbar-brand" href="/cart">Cart</a>
                    <a class="navbar-brand" href="/logout">Logout</a>
                </div>
            </div>
    </nav>
    
    
            <div class="container">
                <h1>User result</h1>
                <p>Current Listings</p>
            </div>
    
    
    
    
    <div class="row" style="display:flex; flex-wrap: wrap;">
        <% records.forEach( function(record){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img src = <%= record.imageURL %> >
                    <div class="caption">
                        <h4><%= record.name %></h4>
                    </div>
                    <div>
                        Quantity Available: <%=record.quantity%><br>
                        Price: $<%=record.price%><br>
                        <div class="w3-show-inline-block">
                        <div class="w3-bar">
                            <a href="/productDetails/<%= record.name %>" class="btn btn-primary">Info</a>
                            <button id="<%= record.name %>" class="add">Set Quantity</button>
                            <input type="number" id="quantityChosen<%=record.name%>" min="0" max="<%= record.quantity %>" value="0" onkeydown="return false"/>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
        
        <form action="/cart">
        <button> Go to cart </button>
        </form>
        <br>
        <form action="/searchProduct">
        <button> Back to search </button>
        </form>
        <br>
        <form action="/logout">
        <button> Logout </button>
        </form>
        


         
    </body>
    
<%- include('partials/footer'); -%>  