<!-- From Lab 10, incomplete, need app.js calls, change from author to product info, ctrl-f "updateAuthor" -->
<%- include('partials/header'); -%> 
    </head>
    
    <body>
        
        <h1>Change Review</h1>
        
        <form method="POST">
            Product Name: <input type="text" name="name" value="<%=productInfo.name %>"> <br>
            
            Pokedex Number: <input type="number" name="pokemonID" value="<%=productInfo.pokemonID %>"> <br>

            Type 1: <input type="text" name="type1" value = "<%=productInfo.type1 %>"> <br>
            Type 2: <input type="text" name="type2" value = "<%=productInfo.type2 %>"> <br>
            
            Height: <input type="number" name="height" value = "<%=productInfo.height %>"> <br>
            Weight: <input type="number" name="weight" value = "<%=productInfo.weight %>"> <br>
            Quantity: <input type="number" name="quantity" value="<%=productInfo.quantity %>"> <br> <!-- int -->
            Price in $: <input type="number" name="price" value="<%=productInfo.price %>"> <br> <!-- double -->
            Image of Store URL: <input type="text" name="imageURL" value="<%=productInfo.imageURL %>"> <br> 
            <br>
            
            <br>
            <button> Update Product! </button>
            
            <%= typeof(message) != "undefined"?message:"" %>
        </form>
        <br>
        <form action="/admin">
            <button> Back to Admin Panel </button>
        </form>
        
    </body>
</html>