<%- include('partials/header'); -%>
<script>
    
    // $(document).ready(function() {
    //     $(".add").on("click", function(){
    //         $.ajax({
    //             method: "POST",
    //             url: "/addToCart",
    //             dataType: "json",
    //             data: { "pokemonName":this.id, "quantityChosen":document.getElementById("quantityChosen" + this.id).value},
    //             success: function(result,status) {
    //                 alert(result["message"]);
    //             }
    //         });//ajax
    //     }); //click
    // }); //document.ready
</script>

<style>
  .avatar {
  vertical-align: middle;
  width: 75;
  height: 75px;
}
</style>
</head>

    
    
            <div class="container">

                <h1>Searched Profiles</h1>
                <p>Current Listings</p>
            </div>
    
    
    
    
    <div class="row" style="display:flex; flex-wrap: wrap; background: rgba(20, 20, 20, 0.6) ; padding: 15px; border-radius: 5px;">
        <% records.forEach( function(record){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                    <img class="avatar" src="/cdn/avatars/<%= record.username %>.png" /><br><br>
                    <div class="caption">
                        <h4><%= record.username %></h4>
                    </div>
                    <div>
                        Rating: <%= reviews.get(record.username) || "No Reviews"%><br><br>
                        <div class="w3-show-inline-block">
                        <div class="w3-bar">
                            <a href="/reviews/<%= record.username %>" class="btn btn-primary">View Profile</a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
        
        <!--<form action="/cart">-->
        <!--<button> Go to cart </button>-->
        <!--</form>-->
        <br>
        <form action="/searchPerson">
        <button> Back to search </button>
        </form>
        <br>
        <form action="/logout">
        <button> Logout </button>
        </form>
        


         
    </body>
    
<%- include('partials/footer'); -%>  