<%- include('partials/header') -%>
<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/searchProduct">Back</a>
                    <a class="navbar-brand" href="/cart">Cart</a>
                    <a class="navbar-brand" href="/logout">Logout</a>
                </div>
            </div>
</nav>

<h1>User Profile</h1>
<p>This is your current information!</p>
<body>
    Username: <%= userProf.username %><br>
    Password: <%= userProf.password %><br>
    Email: <%= userProf.email %><br>
</body>


<%- include('partials/footer') -%>